@import "tailwindcss";

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideInRight{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.animate-appear{
    animation: appear linear;  
    animation-timeline: view();
    animation-range: entry 0;      
}

.animate-slideInLeft{
    animation: slideInLeft linear;  
    animation-timeline: view();
    animation-range: entry 0 cover 50%;      
}

.animate-slideInRight{
    animation: slideInRight linear;  
    animation-timeline: view();
    animation-range: entry 0 cover 50%;      
}